<nav class="navbar navbar-expand-lg sticky-top" data-bs-theme="dark" style="background-color: rgba(5, 90, 30, 1);">
    <div class="container-fluid">
        <h1 class="navbar-brand mb-0">Spletna trgovina za rabljena oblačila</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/items']">Domov</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/items/basket']" class="nav-link active" aria-current="page">Košarica </a>
                </li>
            </ul>

            <div class="d-flex flex-wrap align-items-center mb-lg-0 mb-3 mt-lg-0 mt-3 gap-2">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Išči" aria-label="Search">
                    <button class="btn btn-outline-light me-2" type="submit">Išči</button>

                    <button class="btn btn-outline-light" type="button" data-bs-toggle="collapse"
                        data-bs-target="#filterCollapse">
                        Filtri
                    </button>
                </form>

                <div class="ms-auto ms-lg-3 d-flex flex-row-reverse">
                    <button class="btn btn-outline-light" id="odjava">Odjava</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="collapse shadow-sm" id="filterCollapse" style="background-color: #f8f9fa;">
    <div class="container-fluid py-3">
        <div class="row g-3">
            <div class="col-md-2">
                <h4>Filtriraj po:</h4>
            </div>
            <div class="col-md-2">
                <h6>Velikost</h6>
                <select class="form-select form-select-sm">
                    <option selected>Vse velikosti</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
            <div class="col-md-2">
                <h6>Cena do:</h6>
                <div class="input-group">
                    <input type="number" id="priceInput" class="form-control" placeholder="Vnesi ceno" min="0"
                        value="50">
                    <span class="input-group-text">€</span>
                </div>
            </div>
            <div class="col-md-2">
                <h6>Kategorija</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check1">
                    <label class="form-check-label">Majice</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Hlače</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Krila</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Obleke</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Jakne</label>
                </div>
            </div>
            <div class="col-md-2">
                <h6>Barva</h6>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check1">
                    <label class="form-check-label">Rdeča</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Modra</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Zelena</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Bela</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="check2">
                    <label class="form-check-label">Črna</label>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-end">
                <button class="btn btn-success w-100">Uporabi filtre</button>
            </div>

        </div>
    </div>
</div>